{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block page_content %}
<table class="table" style="border: 2px solid white; margin-bottom: 100px">
  <thead>
    <tr>
      <th scope="col">Group Name</th>
      <th scope="col">Owner</th>
      <th scope="col">Description</th>
      <th scope="col">View Group</th>

    </tr>
  </thead>
  <tbody>
    	{% for group in groups %}
    		<tr>
      		<th scope="row"> {{ group[0] }}</th>
    			<td>{{ group[1] }}</td>
    			<td>{{ group[2] }}</td>
          <td>
            <button onclick="location.href='/view_group/{{ group[3] }}'">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      	{% endfor %}
  </tbody>
</table>
{% endblock %}


