{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{group}}{% endblock %}

{% block page_content %}
<div class="container">
	<div class="panel panel-default" style="height: 450px">
		<div class="panel-heading">
			<h3 class="panel-title">{{ data[0] }}</h3>
		</div>
	
		<div class="panel-body" style="">
			<div class="profile-img" style="">
				<img src="/static/avatar.png" alt="Avatar" />
			</div>
		</div>
	
	<div>
		<button onclick="location.href='/group_events/{{ group_id }}'">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Group Events
		</button>
	</div>


	<div class="col">
		<div class="info-list">
			<ul class="list-group">
				<li class="list-group-item" style="overflow-y: hidden;">
					<p><b>Description:</b> {{ data[4] }} </p>
					</li>
					<li class="list-group-item">
					<p><b>Creator:</b> <a href="/profile/{{ data[3] }} ">{{ data[1] }}</a></p>
				</li>
			</ul>
		</div>
	</div>

	<div class="col">
		<div style="position: relative; bottom: 185px; width: 20%; left: 80%; overflow-y: scroll; height: 200px;">
			<ul>
				<li class="list-group-item" style="background-color: #F1F1F1; text-align: center;">
				<b>Members</b>
				</li>
				{% for userinfo in users %}
				<li class="list-group-item">{{ userinfo }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% if usercheck == True %}
	<div style="position: relative; left: 93%; bottom: 80px">
		{{ wtf.quick_form(leave) }}
	</div>

	{% else %}
	<div style="position: relative; left: 93%; bottom: 80px">
		{{ wtf.quick_form(form) }}
	</div>

	{% endif %}
	{% if button==True and usercheck==True %}
	<div class="row">
		<div class="col">
			<div style="position: relative; left: 670px; bottom: 100px;">
				<button onclick="location.href='/edit_group/{{ group_id }}'">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Group
				</button>
			</div>
		</div>
		<div class="col">
			<div style="position: relative; left: 300px; bottom: 100px">
				<button onclick="window.location.href='{{ url_for('group_event',group_id=group_id) }}';">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Create Group Event
				</button>
			</div>

		</div>
	</div>
	{% endif %}
	</div>
</div>

<div class="container">
	<div class="panel panel-default well" style="overflow-y: scroll; height:400px; margin-bottom: 200px">
		<div class="panel-body">
			<div>
			{% for entry in entries %}
			<p><b>Posted by</b>: {{ entry[1] }} {{ entry[2] }}</p>
			<div style="position: relative; bottom: 25px; left: 90%">
			{{ entry[3] }}
			</div>
			<div>
			{{ entry[0] }}
			</div>
			<hr>
			<br>
			<br>

			{% endfor %}
			</div>

			<div style="width: 13%; position: relative;	">
			{{ wtf.quick_form(cform)}}
			</div>
		</div>
	</div>
</div>
{% endblock %}
